name: Gradle Dependency Submission

on:
  push:
    paths:
      - '**/*.gradle'
      - '.github/workflows/gradle-dependencies.yaml'

permissions:
  contents: write

jobs:
  dependency-submission:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Generate and submit dependency graph
        uses: gradle/actions/dependency-submission@v5
        env:
          # https://github.com/gradle/actions/tree/main/dependency-submission#example-of-project-and-configuration-filtering
          # https://github.com/gradle/github-dependency-graph-gradle-plugin?tab=readme-ov-file#controlling-the-scope-of-dependencies-in-the-dependency-graph
         DEPENDENCY_GRAPH_RUNTIME_EXCLUDE_CONFIGURATIONS: '.*[Tt]est(Compile|Runtime)Classpath|fulibScenarios'
